# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT=8080             # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS=1000 # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS=20 # Max number of requests per window per IP

# Mongo Envs
MONGO_ADMIN_USER="admin"
MONGO_ADMIN_PASSWD="stronkAndSekret"
DB_USERNAME="tarik"
DB_PASSWORD="superSekret"
DB_NAME="ticketing"

# Mongo Express Envs
ME_CONFIG_BASICAUTH=false
ME_CONFIG_MONGODB_ENABLE_ADMIN=false
ME_PORT=8081

#Redis Envs
REDIS_URL= "redis://redis:6379"
